<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Hello, It's A Me, Mario</h1>
  <p>Herp da derp tha teetely terp, Rated PG-13</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>